<div class="copyright">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%- __('footer.powered', '<a class="hexo-link" href="https://hexo.io/" target="_blank">Hexo</a>') %>
</div>