<section id="posts" class="posts">
    <% page.posts.each(function(post) { %>
        <%- partial('_partial/article', {post: post}) %>
    <% }) %>
    <%- partial('_partial/pagination') %>
</section>