<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
    <div id="container">
        <header id="header" class="header">
        </header>
        <section>
            <%- body %>
        </section>
        <footer id="footer" class="footer">
            <%- partial('_partial/footer') %>
        </footer>
    </div>
</body>
</html>