@mixin min-screen($min-width: $global-body-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin max-screen($max-width: $global-body-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin border-1px($direction, $type, $color) {
    @if $direction!= "" {
        border-#{$direction}: 1px $type $color;
    } @else {
        border: 1px $type $color;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        @if $direction!= "" {
            border-#{$direction}: 0.5px $type $color;
        } @else {
            border: 0.5px $type $color;
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        @if $direction!= "" {
            border-#{$direction}: 0.333333px $type $color;
        } @else {
            border: 0.333333px $type $color;
        }
    }
}
