$global-font-color: #34495e !default;
$global-font-family: "Noto Serif SC", -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "Source Han Serif SC", sans-serif;
$monospaced-font-family: Consolas, "Roboto Mono", Monaco, monospace, "courier new", courier;

$global-lineheight: 1.5 !default;
$global-body-width: 800px !default;

// ========== Color ========== //
$color-theme-blue: #0047ab;
$color-black: #0a0a0a !default;
$color-white: #fefefe !default;
$color-light-gray: #e6e6e6 !default;
$color-gray: #cacaca !default;
$color-dark-gray: #8a8a8a !default;
$color-code: #476582 !default;

$theme-color: $color-theme-blue;
$theme-deputy-color: #f0f2f5;
