$global-font-size: 16px;
$global-font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, Noto Sans, sans-serif, Apple Color Emoji, Noto Color Emoji;
$global-font-color: #34495e !default;

$global-lineheight: 1.5 !default;
$global-body-width: 800px !default;


// ========== Color ========== //
$color-theme-blue: #0047ab;
$color-black: #0a0a0a !default;
$color-white: #fefefe !default;
$color-light-gray: #e6e6e6 !default;
$color-gray: #cacaca !default;
$color-dark-gray: #8a8a8a !default;

$theme-color: $color-theme-blue;
$theme-deputy-color: #f0f2f5;