.archive {
    padding: 1rem;

    .archive-title {
        .archive-name {
            color: $theme-color;
            margin-top: 0;
            margin-bottom: 0;
        }

        .archive-subname {
            color: $color-dark-gray;
            font-style: italic;
            font-size: 1.5rem;
        }
    }

    .collection-title {
        .archive-year {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .archive-post {
        margin-left: 1rem;

        .archive-post-title {
            margin-left: 0.5rem;
        }
    }
}
