.header {
    display: flex;
    margin-left: 2rem;

    .site-navbar .menu {
        padding: 0;
        display: flex;

        .menu-item {
            list-style-type: none;
            margin-right: 1rem;
        }
    }

    .menu-item-link {
        color: $color-black;
        text-decoration: none;
        font-weight: bold;
    }
}
